<!DOCTYPE html>   <!--Form to edit specific recipe-->
<html>
  <head>
 
  </head>
  <body>
    <h1>Recipes Always Need Some Adjustments</h1>
    <form method="POST" action="/recipes/<%=@recipe.id%>">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <h3>Recipe Name: <input type="text" name="name" value="<%=@recipe.name%>"></h3>          
      <h3>Ingredients: <input type="text" name="ingredients" value ="<%=@recipe.ingredients%>"></h3>        
      <h3>Time: <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"></h3>   
      
      <input type="submit" id="submit">
    </form>
  </body>
</html>